{% extends 'base.html' %}
{% block content %}
    <section style="margin-left: 50px;">
        <!-- Start: Beautiful Contact from (animated) -->
        <div class="container container-contact100" style="width: 80%;">
            <div class="wrap-contact100">
                <form class="contact100-form validate-form">
                    <!-- Start: title --><span class="contact100-form-title" style="text-align: center;color: rgb(35,85,105);font-size: 24px;"><strong>Ecrivez-Nous</strong></span><!-- End: title -->
                    <h6>Ce formilaire n'est pas au point. Pour contacter le developpeur, cliquer sur les logos en bas (facebook-github-linkedin)</h6>
                    <!-- Start: name -->
                    <div class="wrap-input100 validate-input" data-validate="Please enter your name"><input class="form-control input100" type="text" name="name" placeholder="Nom Complet" style="font-size: 15px;"><span class="focus-input100"></span></div><!-- End: name -->
                    <!-- Start: email -->
                    <div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x"><input class="form-control input100" type="text" name="email" placeholder="E-mail" style="font-size: 15px;"><span class="focus-input100"></span></div><!-- End: email -->
                    <!-- Start: phone -->
                    <div class="wrap-input100 validate-input" data-validate="Please enter your phone"><input class="form-control input100" type="text" name="phone" placeholder="Telephone" style="font-size: 15px;"><span class="focus-input100"></span></div><!-- End: phone -->
                    <!-- Start: message -->
                    <div class="wrap-input100 validate-input" data-validate="Please enter your message"><textarea class="form-control input100" name="message" placeholder="Votre Message" style="color: rgb(255,60,0);font-size: 15px;"></textarea><span class="focus-input100"></span></div><!-- End: message -->
                    <!-- Start: Submit button -->
                    <div class="container-contact100-form-btn"><button class="btn btn-primary contact100-form-btn" type="submit"><span>Envoyer<i class="fa fa-star fa fa-paper-plane-o m-r-6" aria-hidden="true"></i></span></button></div><!-- End: Submit button -->
                </form>
            </div>
            <div class="d-inline-flex flex-row justify-content-center" style="width: 100%;text-align: center;margin-top: 35px;color: rgb(255,60,0);">
                <a class="d-inline-flex social-link" href="http://facebook.com/amadou.diatta.33483/" style="margin: 0px 5px;height: 40px;width: 40px;"><i class="fa fa-facebook social-link-icon"></i>
                    <div class="social-link-effect" style="background: rgb(0,56,255);"></div>
                </a><a class="social-link" href="#" style="margin: 0px 5px;height: 40px;width: 40px;"><i class="fa fa-twitter social-link-icon"></i>
                    <div class="social-link-effect"></div>
                </a><a class="social-link" href="#" style="margin: 0px 5px;height: 40px;width: 40px;"><i class="fa fa-instagram social-link-icon"></i>
                    <div class="social-link-effect" style="height: 38px;background: linear-gradient(84deg, #833ab4, #f56040), rgb(98,7,7);"></div>
                </a><a class="social-link" href="https://github.com/AmadouDiatta13" style="margin: 0px 5px;height: 40px;width: 40px;"><i class="fa fa-github social-link-icon"></i>
                    <div class="social-link-effect" style="background: rgb(0,0,0);"></div>
                </a><a class="social-link" href="https://www.linkedin.com/in/amadou-diatta-0a26421bb" style="margin: 0px 5px;height: 40px;width: 40px;border-color: rgb(14,118,168);"><i class="fa fa-linkedin-square social-link-icon"></i>
                    <div class="social-link-effect"></div>
                </a></div>
        </div><!-- End: Beautiful Contact from (animated) -->
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/Beautiful-Contact-from-animated.js?h=8b2cc3af428eff0d86778aa63fa84931"></script>
    <script src="assets/js/Swiper-Slider-Card-For-Blog-Or-Product.js?h=991afcfa41cba2f581d9aab17dc1d26a"></script>
{% endblock content %}